ion-card-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  ion-item {
    --background: #171616;
    border-bottom: 1px solid #ccc;
  }
  
  h2 {
    margin-top: 1rem;
    color: #e53935;
  }
  